* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Banner-Container {
    background-image: url(../B9A1-New-Year-New-Mission/resources/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    border-radius: 12px;
    margin: 50px auto;
}
body{
    font-family: 'Merriweather', serif;
}